<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>聊天室</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
</head>
<body>
<p>聊天室</p>
<form id="sangForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit" value="发送"/>
</form>
<script th:inline="javascript">
    $("#sangForm").submit(function (e) {
        e.preventDefault();
        var textArea = $("#sangForm").find('textarea[name="text"]');
        var text = textArea.val();
        sendSpittle(text);
        textArea.val('');
    });
    var sock = new SockJS("/endpointChat");
    var stomp = Stomp.over(sock);
    /**
     * 连接服务端，成功后注册监听，注册地址为/user/queue/notifications
     * 监听地址比WebSocket配置文件中的多了一个/user，这个/user是必不可少的，使用了它消息才会点对点传送。
     */

    stomp.connect('guest','guest',function (frame) {
        stomp.subscribe("/user/queue/notifications", handleNotification);
    });
    function handleNotification(message) {
        $("#output").append("<b>Received： "+message.body+"</b><br/>")
    }
    /**
     * 消息转发，对应相关controller中的MessageMapping("/chat1")
     * 增加的“/app”源于WebSocketConfig中配置的结果
     * @param text
     */

    function sendSpittle(text) {
        stomp.send("/app/chat1", {}, text);
    }
//  关闭连接
    $("#stop").click(function () {
        sock.close();
    });
</script>
<div id="output"></div>
</body>
</html>